@font-face {
    font-family: 'Ek Mukta';
    font-style: normal;
    font-weight: 400;
    src: local('Ek Mukta'), local('EkMukta-Regular'), url(tf-BtnFgVmxry6UZcI_2LnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
    font-family: 'Ek Mukta';
    font-style: normal;
    font-weight: 600;
    src: local('Ek Mukta SemiBold'), local('EkMukta-SemiBold'), url(9EXaIaG9EisTb0ON7WXvdbrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
    font-family: 'Ek Mukta';
    font-style: normal;
    font-weight: 700;
    src: local('Ek Mukta Bold'), local('EkMukta-Bold'), url(PTj8SjnLMuoZrJLoiRjMXrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}