// ==============================
// Header
// ==============================

.header {
  @include clearfix; 
  padding: $header-padding;

  @import 'header/_logo';
  @import 'header/_menu';
}


@include max-screen() {
  .header {
    padding: 50px 0 0;
    text-align: center;
  }
}
