// ==============================
// Post
// ==============================

.posts {
  margin-bottom: $post-list-margin-bottom;
  border-bottom: $post-border;
}

.post {
  padding: $post-padding;
  
  & + .post {
    border-top: $post-border;
  }

  @import '_post/_header';
  @import '_post/_toc';
  @import '_post/_content';
  @import '_post/_copyright';
  @import '_post/_reward';
  @import '_post/_footer';
}